html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: olive;
}
.section1{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 10% 90%;
}
.section1 